<div class="bar-chart @WrapperCss" style="@Style">
    @foreach (var topic in Topics)
    {
        <div class="linechart-container" title="@topic.ShowTitle()">
            <div class="linechart-background">
                <div class="linechart-foreground" style="background-color: @GetColour(topic); width: @GetPercentageWidth(topic.Value).ToString(CultureInfo.InvariantCulture)%;"></div>
            </div>
            <div class="linechart-labels">
                @if (Parameters.ShowValues)
                {
                    <span class="linechart-quantity">@topic.Value</span>
                }
                <span class="linechart-name">@topic.Name</span>
            </div>
        </div>
    }
</div>